.popup__input-error{
        font-size: 12px;
        line-height: 15px;
        color: #FF0000;
        display: block;
        margin-top: 4px;
        box-sizing: border-box;
        height: 30px;
}