.popup__close-button{
    cursor: pointer;
    background-image: url(../../../images/CloseIcon.svg);
    border: none;
    background-color: transparent;
    width: 32px;
    aspect-ratio: 1/1;
    margin-bottom: 8px;
    margin-right: -40px;
    align-self: flex-end;
}

.popup__close-button:hover {
    opacity: 0.6;
    transition: .2s;
}


@media screen and (max-width:600px) {
    .popup__close-button {
        background-size: cover;
        max-width: 22px;
        margin-bottom: 20px;
        margin-right: 0;
    }
}